:root {
  --dark-bg-colour: #30454b;
  --dark-text-colour: #c1d9dc;
  --dark-text-secondary: #93a1a1;
  --dark-colour: #073642; /*bg-secondary*/
  --dark-hover: #268bd2;
  --dark-outline: #00212b;
  --dark-accent: #2aa198;
  --dark-highlight: #b58900;

  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

@media (prefers-color-scheme: light) {
  :root {
    --light-bg-colour: #fdf6e3;
    --light-text-colour: #657b83;
    --light-text-secondary: #586e75;
    --light-colour: #eee8d5; /*bg-secondary*/
    --light-hover: #93a1a1;
    --light-outline: #586e75;
    --light-accent: #268bd2;
    --light-highlight: #cb4b16;

    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #5e4a0d;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
  }
}
