<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>MAD Movies</title>
</head>
<body>
    <body>
    <div id="heading-text">
        <span id="welcome-text">MAD Movies</span>
        <div id="user-search">
            <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">Search</button>
            </form>
        </div>
        <div id="user-menu">
            <button id="user-btn">👤</button>
            <div id="user-dropdown">
                <a href="home.html"> Home</a>
                <a href="../pages/index.html"> Logout</a>
            </div>
        </div>
    </div>

    <div id="page-sections">

        <div id="all-game-options">
            <h2>My Movie List</h2>
            
            {% for movie in movies %}
                <div>
                    <h3>{{ movie.movie_name }} ({{ movie.year }})</h3>
                    <p>Rating: {{ movie.rating }}</p>
                </div>
            {% endfor %}
            

        </div>

        <div id="leaderboard">
            <h2>Add Movie</h2>

              
            <div id="add-section" class="game-option"> <form>
                <label for="mTitle">Movie Title:</label><br>
                <input type="text" id="mTitle" name="mTitle" value=""><br>
                <label for="mYear">Year</label><br>
                <input type="text" id="mYear" name="mYear" value=""><br><br>
                <label for="mYear">Rating</label><br>
                <input type="number" id="rating" name="rating" value=""><br><br>
                <input type="submit" value="Submit">
            </form> </div>
        </div>

    </div>
</body>
</body>
</html>